<h1> Links </h1>

<ul id='links'>
  <% @bookmarks.each do |b| %>
    <li>
      Title: <%= b.name %>
      URL:   <%= b.address   %>
      Link: <a href="<%= b.address %>"><%= b.name %></a>
    </li>

  <% end %>
</ul>
