<h1>Links</h1>

<ul id='links'>
  <% @bookmarks.each do |b| %>
    <li>Title: <%= b.name %>  </li>
      <li>URL: <%= b.address %></li>
      <li>Link: <a href="<%= b.address %>"><%= b.name %></a>  </li>
  <% end %>
</ul>

<a href="links/new">Add a new link</a>
<br>
<a href="/">Home</a>
