<h1> Add A Link </h1>

<form action="/links" method="post">

  <label for="name">Name
  <input type="text" name="name" id="name">
  </label>

  <label for="address">Address
  <input type="text" name="address" id="address">
  </label>

  <label for="tags">Tags
  <input type="text" name="tags" id="tag">
  </label>

  <input type="submit" value="Save Link!">

</form>

<a href="links">Links</a>
